

#root {
  display: block;
  height: 100%;
  min-height: 100%;
}

.app {
  display: flex;
}

.fill {
  height: 100%;
  min-height: 100%;
}

.glyphicon {
  width: 25px;
}

.glyphicon-plus {
  color: red;
}

.bg-color {
  background-color: #ddd;
}

.panel {
    margin-top: 20px;
}

.p-md {
  padding: 20px;
}

.no-padding-recursive > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

[class*='col-'].no-padding {
    padding-right:0;
    padding-left:0;
}

.gray-color {
  color: #ccc;
}
.text-none{
    color: rgba(95, 95, 95, 0.12);
}
.animate:hover{
   transform: scale(1.3);
}
.status{
    cursor: initial !important;
}
.text-white {
    color: #fff;
}
.bg-primary {
    background-color: #5d8fc2;
}
.widget {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 3px;
}
.fw-big {
    font-weight: 400;
    font-size: 46px;
}
.no-margin {
    margin: 0;
}
.h2, h2 {
    font-size: 30px;
}
.widget-icon {
    opacity: .5;
    font-size: 42px;
    float: left;
    margin-top: 15px;
}
.bg-success {
    background-color: #64bd63 !important;
}
.bg-gray {
    background-color: #245b74 !important;
}
.close-modal-container{
  float: right;
  cursor: pointer;
  font-size: 20px;
  
}
.close-modal-container:hover{
  color:#ccc;
}
.upper-title{
  font-size: 20px;
  text-transform: uppercase;
  color: #ccc;
}
input[type=text]{
  height: 35px;
  padding: 15px;
}
.pending{
  color:white;
  background-color: #f0ad4e;
}
.approved{
  color:white;
  background-color: #5cb85c;;
}
.rejected{
  color:white;
  background-color: rgba(217, 83, 79, 0.88);
}
